{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    <script src="{% static 'js/jquery-1.11.2.js' %}"></script>
    <!--[if lt IE 9]><script src="{% static 'js/html5shiv.js' %}"></script><![endif]-->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block extra_js %}
    {% include "includes/handlebars_scripts.html" %}
  {% comment %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.tooltip.js' %}"></script>
    <script src="{% static 'js/bootstrap.tab.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap-growl.js' %}"></script>
    <script src="{% static 'js/handlebars-v3.0.0.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
  {% endcomment %}
{% endblock %}
{% block extra_scripts %}{% endblock %}
