{% load static %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/libs/jquery-1.11.2.js' %}">\x3C/script>')</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></script>
<script>$.fn.modal || document.write('<script src="{% static 'js/libs/bootstrap.min.js' %}">\x3C/script>')</script>

<script src="{% static 'js/libs/bootstrap.tooltip.js' %}"></script>
<script src="{% static 'js/libs/bootstrap.tab.js' %}"></script>
<script src="{% static 'js/libs/jquery.bootstrap-growl.js' %}"></script>

<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js' %}"></script>
<script>Handlebars || document.write('<script src="{% static 'js/libs/handlebars-v3.0.0.js' %}">\x3C/script>')</script>
<script src="{% static 'js/base.js' %}"></script>
